
nav.navbar.navbar-light.bg-light.navbar-expand-sm
	a(href="/").navbar-brand KatiesCode.com
	button.navbar-toggler(data-toggle="collapse" data-target="#navbarCollapse")
		span.navbar-toggler-icon
	div.collapse.navbar-collapse#navbarCollapse
		ul.navbar-nav.ml-auto
			if !currentUser
				li.navbar-item
					a(href="/register").nav-link Register
				li.navbar-item
					a(href="/login").nav-link Log In
			if currentUser
				li.navbar-item
					a(href="/feedback").nav-link Feedback
				li.navbar-item
					a(href="/logout").nav-link Log out
			li.navbar-item
				a(href="/about").nav-link About
			li.navbar-item
				a(href="/projects").nav-link Projects
			li.navbar-item
				a(href="/contact").nav-link Contact
			
