extends layout

block content
	.container
		.div.text-center
			img(src="mypic.jpg" class="img-fluid rounded-circle" alt="picture of katie's face" id="profilePic")

		.div.text-center(id="aboutMeText")
			p Katie Schmidt
			p Self Taught
			p Junior Developer
			p Lifelong Learner
			p Nature Lover
