extends layout

block content
	.container
		.list-group
			a(href="https://www.facebook.com/katie.l.schmidt.9" target="_blank").list-group-item.text-center
				i.fab.fa-facebook-f  Facebook

		.list-group
			a(href="https://www.instagram.com/10schkat/" target="_blank").list-group-item.text-center
				i.fab.fa-instagram  Instagram
		.list-group
			a(href="https://github.com/KatieSchmidt" target="_blank").list-group-item.text-center
				i.fab.fa-github  Github
		.list-group
			a(href="mailto:katie_schmidt7@icloud.com").list-group-item.text-center
				i.far.fa-envelope  Email
