extends layout

block content
	.container
		.list-group.contactMe
			a(href="https://www.facebook.com/katie.l.schmidt.9" target="_blank").text-center
				i.fab.fa-facebook-f.fa-4x
				p Facebook
		.list-group.contactMe
			a(href="https://www.instagram.com/10schkat/" target="_blank").text-center
				i.fab.fa-instagram.fa-4x
				p Instagram
		.list-group.contactMe
			a(href="https://github.com/KatieSchmidt" target="_blank").text-center
				i.fab.fa-github.fa-4x
				p Github
		.list-group.contactMe
			a(href="mailto:katie_schmidt7@icloud.com").text-center
				i.far.fa-envelope.fa-4x
				p Email
