extends layout.pug

block content

	if currentUser
		.container.text-center
			form(action='/feedback', method='post')
				.form-group.row.justify-content-center
					label(for="feedback") What do you think?
						textarea.form-control(type='text', name='feedback')
				button(type='submit').btn.btn-primary.mb-4 submit



	.container.text-center
		table.table.tabled-hover.table-sm.table-borderless
				each item in feedbackData
					tr
						td #{item.feedback} - #{item.user}
					if item.userId === currentUser
						tr
							td
								a(href="/feedback/" + item._id)
									button.btn.btn-danger.btn-sm.mr-2 Delete
								a(href="/feedback/edit/" + item._id)
									button.btn.btn-warning.btn-sm.mr-2 Edit
								a(href="#" + item._id)
									button.btn.btn-primary.btn-sm Comment
