extends layout.pug

block content

	if currentUser
		.container.text-center
			form(action='/feedback', method='post')
				.form-group.row.justify-content-center
					label(for="feedback") What do you think?
						textarea.form-control(type='text', name='feedback')
				button(type='submit').btn.btn-primary submit

	h2.text-center What other users have said:
	.container
		table.table.table-bordered.tabled-hover.table-md
			thead
				tr
					th Name
					th Feedback
			tbody
				each item in feedbackData
					tr
						td #{item.user}
						td #{item.feedback}
							if item.userId === currentUser
								a(href="/feedback/" + item._id)
									button.btn.btn-danger.mr-2.ml-2 Delete
								a(href="/feedback/edit/" + item._id)
									button.btn.btn-warning Edit
