extends layout.pug

block content

	.container.text-center
		form(action='/feedback', method='post')
			.form-group.row.justify-content-center
				label(for="feedback") What do you think?
					input.form-control(type='text', name='feedback')
			button(type='submit').btn.btn-primary submit

	h2.text-center What other users have said:
	.container
		table.table.table-bordered.tabled-hover.table-md
			thead
				tr
					th Name
					th Feedback
			tbody
				each item in feedbackData
					tr
						td #{item.user}
						td #{item.feedback}
