extends layout

block content
	.container

		p You found me! This is wonderful news! I am not quite finished with my website so keep checking back in to see changes!

		p You can currently check out my contact details by going to my Contact Me page.

		p You can register to be able to login. Then you can check out other visitors words of encouragement!

		p You can leave a note of encouragement on the Messageboard page.

		p You can learn a little about me on my About Me page.

		p “The mind is everything. What you think, you become.” -Buddha
