extends layout

block content
	.container(id="homeParagraph")

		p “The mind is everything. What you think, you become.” -Buddha

		p Please take a little time to check out my feedback area and leave a note of encouragement for me and future visitors!
