doctype html
html(lang="en")
head
	title #{pageTitle}
	style
		include ../public/css/style.css

	body
		if currentUser
			h1 Welcome #{name}
		include includes/navBar.pug
		h2 #{pageHeader}

		block content


		include includes/footer.pug
