doctype html
html(lang="en")
head
	title #{pageTitle}
	style
		include ../public/css/style.css

	body
		include includes/navBar.pug
		h1 #{pageHeader}

		block content


		include includes/footer.pug
