extends layout.pug

block content
	form(action='/login', method='post')
		label Username:
			input(type='text', name='username')
		label Password:
			input(type="text", name='password')
		button(type='submit') submit
