extends layout

block content
	h2.text-center Thank you for giving me feedback and I hope you enjoyed my site!

	.container
		table.table.table-bordered.tabled-hover.table-md
			thead
				tr
					th Name
					th Feedback
			tbody
				each item in feedbackData
					tr
						td #{item.user}
						td #{item.feedback}
