extends layout

block content
	h2.text-center Thank you for giving me feedback and I hope you enjoyed my site!

	.container
		table.table.table-bordered.tabled-hover.table-md
			thead
				tr
					th Name
					th Feedback
			tbody
				tr
					td katie schmidt
					td this is just lovely
